.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
    width: 100%;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .img-thumbnail {
    width: 100%;
  }